In [1]:
import pandas as pd

df = pd.read_csv("Data/Aviation_Data.csv")

/var/folders/ym/68nrz1n97wj0gz5413bhpqs80000gn/T/ipykernel_2858/2692933316.py:3: DtypeWarning: Columns (6,7,28) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("Data/Aviation_Data.csv")

Make
Cessna             22227
Piper              12029
CESSNA              4922
Beech               4330
PIPER               2841
                   ...
Leonard Walters        1
Maule Air Inc.         1
Motley Vans            1
Perlick                1
ROYSE RALPH L          1
Name: count, Length: 8237, dtype: int64

In [55]:
df["Make"]=df["Make"].map(lambda x:str(x))
df["Make"]=df["Make"].map(lambda x:x.lower())

In [76]:
df[df["Make"].str.contains("airbus")]["Make"].value_counts()

Make
airbus                            291
airbus industrie                  164
airbus helicopters                 13
airbus helicopters inc              3
airbus industries                   1
airbus/eurocopter                   1
airbus helicopter                   1
airbus helicopters (eurocopte       1
airbus helicopters deutschland      1
Name: count, dtype: int64

In [74]:
df["Make"]=df["Make"].map(lambda x: "boeing" if "boeing" in x else x)
df["Make"][df["Make"].str.contains("boeing")].value_counts()

Make
boeing    2833
Name: count, dtype: int64

In [81]:
df["Make"]=df["Make"].map(lambda x: "airbus" if "airbus" in x else x)

6737     airbus
11775    airbus
13699    airbus
15282    airbus
17123    airbus
18024    airbus
18297    airbus
19134    airbus
20367    airbus
21771    airbus
21901    airbus
21981    airbus
22921    airbus
22950    airbus
23477    airbus
26315    airbus
26334    airbus
28379    airbus
28951    airbus
29119    airbus
29555    airbus
29616    airbus
29755    airbus
34019    airbus
34253    airbus
34439    airbus
37169    airbus
37173    airbus
37389    airbus
37574    airbus
38971    airbus
39104    airbus
39251    airbus
39811    airbus
39876    airbus
40584    airbus
40934    airbus
41114    airbus
41233    airbus
41531    airbus
41760    airbus
42113    airbus
42548    airbus
42758    airbus
43160    airbus
43401    airbus
43402    airbus
43735    airbus
43872    airbus
44348    airbus
          ...
86883    airbus
87004    airbus
87088    airbus
87122    airbus
87194    airbus
87202    airbus
87352    airbus
87375    airbus
87501    airbus
87672    airbus
87736    airbus
87791    airbus
87840    airbus
87954    airbus
87997    airbus
88028    airbus
88032    airbus
88205    airbus
88254    airbus
88286    airbus
88523    airbus
88598    airbus
88603    airbus
88618    airbus
88692    airbus
88711    airbus
88993    airbus
88994    airbus
88998    airbus
89184    airbus
89213    airbus
89223    airbus
89257    airbus
89291    airbus
89299    airbus
89383    airbus
89493    airbus
89504    airbus
89529    airbus
89662    airbus
89735    airbus
89922    airbus
90019    airbus
90166    airbus
90191    airbus
90205    airbus
90256    airbus
90259    airbus
90326    airbus
90338    airbus
Name: Make, Length: 476, dtype: object

In [82]:
df["Make"].value_counts()

Make
cessna                            27149
piper                             14870
beech                              5372
boeing                             2833
bell                               2722
nan                                1522
mooney                             1334
robinson                           1230
grumman                            1172
bellanca                           1045
hughes                              932
schweizer                           773
air tractor                         691
aeronca                             636
mcdonnell douglas                   608
maule                               589
champion                            519
airbus                              476
stinson                             439
aero commander                      429
de havilland                        422
luscombe                            414
aerospatiale                        388
taylorcraft                         383
north american                      383
rockwell                            355
hiller                              348
enstrom                             296
douglas                             281
embraer                             238
ayres                               238
sikorsky                            233
robinson helicopter                 230
grumman american                    226
cirrus design corp                  223
eurocopter                          220
air tractor inc                     219
robinson helicopter company         194
swearingen                          180
fairchild                           161
ercoupe (eng & research corp.)      160
pitts                               154
cirrus                              150
lake                                150
balloon works                       147
schleicher                          146
mitsubishi                          145
waco                                143
aviat                               140
let                                 136
                                  ...
hartline                              1
air & space.                          1
quest ii walsh ltd.                   1
rhea                                  1
swertfeger                            1
corbin/king                           1
oehling                               1
statz                                 1
knox                                  1
streifthau                            1
coughlin                              1
godbout                               1
loral corp.                           1
kenneth miller                        1
howlett                               1
luhnau                                1
mintz                                 1
eddie a. smith                        1
kendall/mckaughlin                    1
draper                                1
ismari                                1
zdybel                                1
banting                               1
bosick                                1
zielke                                1
o'hara bob                            1
taylor smith                          1
prudhomme                             1
walden a. cooper                      1
aero design eleven                    1
muxlow                                1
owens/richburg                        1
pagan                                 1
birx                                  1
bair helicopters, inc.                1
scovil                                1
mckinnis                              1
aeronca-bubeck irving                 1
trike                                 1
aero comp inc                         1
burak stanley a                       1
cohen                                 1
kitchens                              1
lutes                                 1
izatt                                 1
mince                                 1
dana a. moore                         1
slater                                1
eaa chapter 229                       1
royse ralph l                         1
Name: count, Length: 7566, dtype: int64

In [101]:
df["Make"]=df["Make"].map(lambda x: "dornier" if "dornier" in x else x)

In [102]:
df[df["Make"].str.contains("dornier")]["Make"].value_counts()

Make
dornier    37
Name: count, dtype: int64

In [114]:
manufacturers = ["boeing","airbus","comac", "embraer", "de havilland", "britten-norman", "evektor", "cessna", "texas aircraft", "piper","cubcrafters","beechcraft","diamond","cirrus"]
filter = df["Make"].map(lambda x: x in manufacturers)
filtered_airplanes = df[filter]

In [115]:
filtered_airplanes["Make"].value_counts()

Make
cessna            27149
piper             14870
boeing             2833
de havilland        524
airbus              476
embraer             258
cirrus              150
britten-norman       57
diamond              49
beechcraft           30
cubcrafters           8
evektor               2
Name: count, dtype: int64

In [149]:
filtered_airplanes.groupby(["Make","Model"]).count().to_csv("test.csv")

AttributeError: 'DataFrame' object has no attribute 'unique'

In [162]:
pd.set_option("display.min_rows", 1000)

In [173]:
filtered_airplanes["Model_copy"] = filtered_airplanes["Model"].map(lambda x:str(x))

/var/folders/ym/68nrz1n97wj0gz5413bhpqs80000gn/T/ipykernel_2858/971976898.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_airplanes["Model_copy"] = filtered_airplanes["Model"].map(lambda x:str(x))

In [174]:
filtered_airplanes["Model_copy"]

1          PA24-180
2              172M
4               501
6               180
7               140
8              401B
10        PA-28-161
13            R172K
17              180
18              172
20              152
21             150L
23        PA-24-180
25             414A
26            BE-58
28             210L
30              182
32        PA-28-161
33       PA-34-200T
34            T337G
35       PA-28R-200
36              206
38            PA-22
39            PA-31
41        PA-24-250
42       PA-28R-200
43            TR182
44            A185F
45              340
48              152
50              A75
51              210
54             172M
55        PA-28-140
56           TU206G
57              152
58        PA-24-250
59              152
60             172N
61              152
63            P210N
64              172
65            PA-34
66       305 (L-19)
67             182A
68        PA-23-250
69             172N
70           23-250
72           TU206F
74             U206
            ...
90238           152
90239           152
90241     PA-28-180
90242          PA32
90243     PA-18-150
90249           180
90251     PA-28-181
90253          421C
90255          172M
90256          A320
90257           525
90258         PA-30
90259      A320-211
90262          150L
90263           207
90264     PA-28-140
90265     PA-31-350
90266          PA28
90267           680
90268           737
90269         P206D
90278           737
90279          182A
90280           737
90285       737-800
90291           177
90292           170
90298          PA28
90302    210-5(205)
90303         A185F
90308           737
90309          PA25
90310       737-800
90314       767-322
90317         PA-44
90319          172N
90320          305A
90324           172
90326     EC 130 T2
90328          PA42
90329     PA-38-112
90330           441
90331    PA 46-350P
90336         R172K
90338      A330-243
90339          PA28
90340          172F
90343     PA-28-151
90346          210N
90347     PA-24-260
Name: Model_copy, Length: 46406, dtype: object

In [190]:
airplane_family={"220":"a220","300":"a300","320":"a320","310":"a310","340":"a340",
                "319":"a319","321":"a321","330":"a330","350":"a350","380":"a380",
                "707":"707","717":"717","727":"727","737":"737","747":"747",
                 "757":"757","767":"767","777":"777","787":"787"}
for key in list(airplane_family.keys()):
    filtered_airplanes["Model_copy"]=filtered_airplanes["Model_copy"].map(lambda x: airplane_family[key] if key in x else x)

/var/folders/ym/68nrz1n97wj0gz5413bhpqs80000gn/T/ipykernel_2858/1511810116.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_airplanes["Model_copy"]=filtered_airplanes["Model_copy"].map(lambda x: airplane_family[key] if key in x else x)

In [192]:
filtered_airplanes.groupby(["Make","Model_copy"]).count().loc[("boeing","727")]

Event.Id                  293
Investigation.Type        293
Accident.Number           293
Event.Date                293
Location                  293
Country                   288
Latitude                   17
Longitude                  17
Airport.Code              195
Airport.Name              200
Injury.Severity           289
Aircraft.damage           203
Aircraft.Category          29
Registration.Number       277
Model                     293
Amateur.Built             289
Number.of.Engines         263
Engine.Type               271
FAR.Description            31
Schedule                  281
Purpose.of.flight         250
Air.carrier               156
Total.Fatal.Injuries      259
Total.Serious.Injuries    263
Total.Minor.Injuries      258
Total.Uninjured           283
Weather.Condition         271
Broad.phase.of.flight     250
Report.Status             279
Publication.Date          207
Name: (boeing, 727), dtype: int64

In [50]:
df["Make"].value_counts().to_csv("test.csv")

In [208]:
filtered_airplanes=filtered_airplanes[filtered_airplanes["Model"].map(lambda x: True if x in airplane_family.values() else False)]
filtered_airplanes.groupby("Make").count()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,Model_copy
Make,,,,,,,,,,,,,,,,,,,,,
boeing,856,856,856,856,854,855,167,168,244,280,...,562,812,818,812,836,157,46,184,722,856

In [237]:
temp=filtered_airplanes.groupby(["Make","Model_copy"]).count()
temp

                   Event.Id  Investigation.Type  Accident.Number  Event.Date  \
Make   Model_copy
boeing 707                5                   5                5           5
       717                2                   2                2           2
       727               27                  27               27          27
       737              489                 489              489         489
       747               85                  85               85          85
       757               59                  59               59          59
       767               68                  68               68          68
       777               95                  95               95          95
       787               26                  26               26          26

                   Location  Country  Latitude  Longitude  Airport.Code  \
Make   Model_copy
boeing 707                5        5         0          0             1
       717                2        2         0          0             0
       727               27       26         2          2            16
       737              489      489        78         78           115
       747               85       85        19         20            36
       757               58       59        20         20            24
       767               67       68        20         20            24
       777               95       95        24         24            23
       787               26       26         4          4             5

                   Airport.Name  ...  Purpose.of.flight  Air.carrier  \
Make   Model_copy                ...
boeing 707                    1  ...                  2            1
       717                    0  ...                  0            0
       727                   16  ...                 17           17
       737                  143  ...                 14          323
       747                   38  ...                  8           49
       757                   26  ...                  9           41
       767                   23  ...                  8           51
       777                   27  ...                  4           65
       787                    6  ...                  1           15

                   Total.Fatal.Injuries  Total.Serious.Injuries  \
Make   Model_copy
boeing 707                            3                       3
       717                            1                       1
       727                           25                      26
       737                          481                     482
       747                           74                      75
       757                           52                      51
       767                           64                      65
       777                           86                      89
       787                           26                      26

                   Total.Minor.Injuries  Total.Uninjured  Weather.Condition  \
Make   Model_copy
boeing 707                            2                4                  3
       717                            1                1                  0
       727                           25               26                 19
       737                          481              485                 52
       747                           75               79                 18
       757                           51               57                 25
       767                           64               67                 24
       777                           87               91                 12
       787                           26               26                  4

                   Broad.phase.of.flight  Report.Status  Publication.Date
Make   Model_copy
boeing 707                             0              4                 4
       717                             0              1                 2
       727                            16             18                22
       737                            11             59               410
       747                             6             25                75
       757                             6             29                52
       767                             5             28                59
       777                             2             17                79
       787                             0              3                19

[9 rows x 30 columns]

In [247]:
manufactured = {"727":1800, "737":11760,"747":1500,"757":1000,"767":1300,"777":1700,"787":1100}

pd.Series(manufactured.keys()).map(lambda x: f"{x}: {temp.loc[('boeing',x)]['Event.Id']/manufactured[x]}")

0                   727: 0.015
1    737: 0.041581632653061223
2    747: 0.056666666666666664
3                   757: 0.059
4    767: 0.052307692307692305
5     777: 0.05588235294117647
6    787: 0.023636363636363636
dtype: object

In [262]:
df["Model"].str.contains("737")

<class 'pandas.core.series.Series'>
RangeIndex: 90348 entries, 0 to 90347
Series name: Model
Non-Null Count  Dtype
--------------  -----
88797 non-null  object
dtypes: object(1)
memory usage: 706.0+ KB

In [266]:
filtered_airplanes[filtered_airplanes["Model_copy"]=="737"]["FAR.Description"]

13386                      NaN
18382                      NaN
18715                      NaN
19819                      NaN
19820                      NaN
19869                      NaN
20651                      NaN
41259        Part 129: Foreign
43584                      NaN
45368                      NaN
46203                      NaN
52112                      NaN
55630    Part 121: Air Carrier
56692                      NaN
60211                      NaN
61405                      NaN
62860                      NaN
63447                      NaN
64026                      129
64820                      121
65011                      129
65257                     NUSC
65477                      121
65542                     NUSC
65549                     NUSC
65590                     NUSC
65825                     NUSC
65861                     NUSC
66018                     NUSC
66301                     NUSC
66310                     NUSN
66320                     NUSC
66376                      121
66556                     NUSC
66576                     NUSC
66777                      121
66809                     NUSC
66985                     NUSC
67047                     NUSC
67171                      121
67250                     NUSC
67281                     NUSC
67291                      UNK
67369                     NUSC
67370                     NUSC
67384                     NUSC
67419                      UNK
67617                     NUSC
67620                     NUSC
67674                     NUSC
                 ...
88444                      129
88448                      129
88466                     NUSC
88488                     NUSC
88515                      129
88519                      129
88526                      129
88557                     NUSC
88562                     NUSC
88597                     NUSC
88599                     NUSC
88653                     NUSC
88656                      121
88690                     NUSC
88791                     NUSC
88805                     NUSC
88811                     NUSC
88818                     NUSC
88853                     NUSC
88872                     NUSC
88935                      129
88955                     NUSC
89077                      129
89078                      121
89081                      NaN
89125                     NUSC
89127                     NUSC
89494                      129
89582                     NUSC
89609                     NUSC
89800                     NUSC
89806                      NaN
89913                     NUSC
90026                     NUSC
90033                     NUSC
90061                     NUSC
90080                     NUSC
90100                     NUSC
90154                      NaN
90164                     NUSC
90172                      NaN
90176                      NaN
90183                     NUSC
90197                      NaN
90220                      NaN
90223                     NUSC
90268                      NaN
90278                     NUSC
90280                     NUSC
90308                     NUSC
Name: FAR.Description, Length: 489, dtype: object

In [270]:
filtered_airplanes.iloc[1]

Event.Id                   20001214X42096
Investigation.Type               Accident
Accident.Number                SEA83LA039
Event.Date                     1983-01-07
Location                  NEAR YAKIMA, WA
Country                     United States
Latitude                              NaN
Longitude                             NaN
Airport.Code                          NaN
Airport.Name                          NaN
Injury.Severity                 Non-Fatal
Aircraft.damage                       NaN
Aircraft.Category                     NaN
Registration.Number                N292WA
Make                               boeing
Model                                 727
Amateur.Built                          No
Number.of.Engines                     3.0
Engine.Type                     Turbo Fan
FAR.Description                       NaN
Schedule                             SCHD
Purpose.of.flight                 Unknown
Air.carrier                           NaN
Total.Fatal.Injuries                  NaN
Total.Serious.Injuries                1.0
Total.Minor.Injuries                  NaN
Total.Uninjured                      36.0
Weather.Condition                     IMC
Broad.phase.of.flight               Climb
Report.Status              Probable Cause
Publication.Date                      NaN
Model_copy                            727
Name: 3645, dtype: object

In [268]:
filtered_airplanes.info()

<class 'pandas.core.frame.DataFrame'>
Index: 856 entries, 2614 to 90308
Data columns (total 32 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                856 non-null    object
 1   Investigation.Type      856 non-null    object
 2   Accident.Number         856 non-null    object
 3   Event.Date              856 non-null    object
 4   Location                854 non-null    object
 5   Country                 855 non-null    object
 6   Latitude                167 non-null    object
 7   Longitude               168 non-null    object
 8   Airport.Code            244 non-null    object
 9   Airport.Name            280 non-null    object
 10  Injury.Severity         500 non-null    object
 11  Aircraft.damage         400 non-null    object
 12  Aircraft.Category       686 non-null    object
 13  Registration.Number     818 non-null    object
 14  Make                    856 non-null    object
 15  Model                   856 non-null    object
 16  Amateur.Built           853 non-null    object
 17  Number.of.Engines       277 non-null    float64
 18  Engine.Type             175 non-null    object
 19  FAR.Description         680 non-null    object
 20  Schedule                548 non-null    object
 21  Purpose.of.flight       63 non-null     object
 22  Air.carrier             562 non-null    object
 23  Total.Fatal.Injuries    812 non-null    float64
 24  Total.Serious.Injuries  818 non-null    float64
 25  Total.Minor.Injuries    812 non-null    float64
 26  Total.Uninjured         836 non-null    float64
 27  Weather.Condition       157 non-null    object
 28  Broad.phase.of.flight   46 non-null     object
 29  Report.Status           184 non-null    object
 30  Publication.Date        722 non-null    object
 31  Model_copy              856 non-null    object
dtypes: float64(5), object(27)
memory usage: 253.0+ KB