In [1]:
import pandas as pd

df = pd.read_csv("Data/Aviation_Data.csv")

/var/folders/ym/68nrz1n97wj0gz5413bhpqs80000gn/T/ipykernel_2858/2692933316.py:3: DtypeWarning: Columns (6,7,28) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("Data/Aviation_Data.csv")

Make
Cessna             22227
Piper              12029
CESSNA              4922
Beech               4330
PIPER               2841
                   ...
Leonard Walters        1
Maule Air Inc.         1
Motley Vans            1
Perlick                1
ROYSE RALPH L          1
Name: count, Length: 8237, dtype: int64

In [55]:
df["Make"]=df["Make"].map(lambda x:str(x))
df["Make"]=df["Make"].map(lambda x:x.lower())

In [76]:
df[df["Make"].str.contains("airbus")]["Make"].value_counts()

Make
airbus                            291
airbus industrie                  164
airbus helicopters                 13
airbus helicopters inc              3
airbus industries                   1
airbus/eurocopter                   1
airbus helicopter                   1
airbus helicopters (eurocopte       1
airbus helicopters deutschland      1
Name: count, dtype: int64

In [74]:
df["Make"]=df["Make"].map(lambda x: "boeing" if "boeing" in x else x)
df["Make"][df["Make"].str.contains("boeing")].value_counts()

Make
boeing    2833
Name: count, dtype: int64

In [81]:
df["Make"]=df["Make"].map(lambda x: "airbus" if "airbus" in x else x)

6737     airbus
11775    airbus
13699    airbus
15282    airbus
17123    airbus
18024    airbus
18297    airbus
19134    airbus
20367    airbus
21771    airbus
21901    airbus
21981    airbus
22921    airbus
22950    airbus
23477    airbus
26315    airbus
26334    airbus
28379    airbus
28951    airbus
29119    airbus
29555    airbus
29616    airbus
29755    airbus
34019    airbus
34253    airbus
34439    airbus
37169    airbus
37173    airbus
37389    airbus
37574    airbus
38971    airbus
39104    airbus
39251    airbus
39811    airbus
39876    airbus
40584    airbus
40934    airbus
41114    airbus
41233    airbus
41531    airbus
41760    airbus
42113    airbus
42548    airbus
42758    airbus
43160    airbus
43401    airbus
43402    airbus
43735    airbus
43872    airbus
44348    airbus
          ...
86883    airbus
87004    airbus
87088    airbus
87122    airbus
87194    airbus
87202    airbus
87352    airbus
87375    airbus
87501    airbus
87672    airbus
87736    airbus
87791    airbus
87840    airbus
87954    airbus
87997    airbus
88028    airbus
88032    airbus
88205    airbus
88254    airbus
88286    airbus
88523    airbus
88598    airbus
88603    airbus
88618    airbus
88692    airbus
88711    airbus
88993    airbus
88994    airbus
88998    airbus
89184    airbus
89213    airbus
89223    airbus
89257    airbus
89291    airbus
89299    airbus
89383    airbus
89493    airbus
89504    airbus
89529    airbus
89662    airbus
89735    airbus
89922    airbus
90019    airbus
90166    airbus
90191    airbus
90205    airbus
90256    airbus
90259    airbus
90326    airbus
90338    airbus
Name: Make, Length: 476, dtype: object

In [82]:
df["Make"].value_counts()

Make
cessna                            27149
piper                             14870
beech                              5372
boeing                             2833
bell                               2722
nan                                1522
mooney                             1334
robinson                           1230
grumman                            1172
bellanca                           1045
hughes                              932
schweizer                           773
air tractor                         691
aeronca                             636
mcdonnell douglas                   608
maule                               589
champion                            519
airbus                              476
stinson                             439
aero commander                      429
de havilland                        422
luscombe                            414
aerospatiale                        388
taylorcraft                         383
north american                      383
rockwell                            355
hiller                              348
enstrom                             296
douglas                             281
embraer                             238
ayres                               238
sikorsky                            233
robinson helicopter                 230
grumman american                    226
cirrus design corp                  223
eurocopter                          220
air tractor inc                     219
robinson helicopter company         194
swearingen                          180
fairchild                           161
ercoupe (eng & research corp.)      160
pitts                               154
cirrus                              150
lake                                150
balloon works                       147
schleicher                          146
mitsubishi                          145
waco                                143
aviat                               140
let                                 136
                                  ...
hartline                              1
air & space.                          1
quest ii walsh ltd.                   1
rhea                                  1
swertfeger                            1
corbin/king                           1
oehling                               1
statz                                 1
knox                                  1
streifthau                            1
coughlin                              1
godbout                               1
loral corp.                           1
kenneth miller                        1
howlett                               1
luhnau                                1
mintz                                 1
eddie a. smith                        1
kendall/mckaughlin                    1
draper                                1
ismari                                1
zdybel                                1
banting                               1
bosick                                1
zielke                                1
o'hara bob                            1
taylor smith                          1
prudhomme                             1
walden a. cooper                      1
aero design eleven                    1
muxlow                                1
owens/richburg                        1
pagan                                 1
birx                                  1
bair helicopters, inc.                1
scovil                                1
mckinnis                              1
aeronca-bubeck irving                 1
trike                                 1
aero comp inc                         1
burak stanley a                       1
cohen                                 1
kitchens                              1
lutes                                 1
izatt                                 1
mince                                 1
dana a. moore                         1
slater                                1
eaa chapter 229                       1
royse ralph l                         1
Name: count, Length: 7566, dtype: int64

In [98]:
df["Make"]=df["Make"].map(lambda x: "britten-norman" if "britten" in x else x)

In [100]:
df[df["Make"].str.contains("dornier")]["Make"].value_counts()

Make
dornier              32
fairchild dornier     3
dornier gmbh          2
Name: count, dtype: int64

In [41]:
pd.set_option("display.min_rows", 1000)

In [50]:
df["Make"].value_counts().to_csv("test.csv")